<h1>Edit Image</h1>

<div class="canvas-container" style="width:600px; height:600px; position:relative; -webkit-user-select:none;  ">
	<input type="hidden" name="imageData" id="imageData" />
        <canvas id="c" width="600" height="600" class="lower-canvas" style="position:absolute; width:600px;height:600px; left:0px;top: 0px; -webkit-user-select:none;border:dashed "></canvas>
</div>
<div class="controls">
        <h3>Filters:</h3>
        <p>
            <label><input type="checkbox" id="grayscale" ><span> Grayscale</span></label>
        </p>
        <p>
            <label> <input type="checkbox" id="invert" ><span> Invert</span></label>
        </p>
        <p>
            <label> <input type="checkbox" id="sepia" ><span> Sepia</span></label>
        </p>
        <p>
            <label> <input type="checkbox" id="sepia2" ><span> Sepia2</span></label>
        </p>

        <p>
            <label> <input type="checkbox" id="brightness" ><span> Brightness</span></label>

           <input type="range" id="brightness-value" value="100" min="0" max="255"  style="">
        </p>
        <p>
            <label> <input type="checkbox" id="noise" ><span> Noise:</span></label>
            <label><input type="range" id="noise-value" value="100" min="0" max="1000" ></label>
        </p>
        <p>
            <label> <input type="checkbox" id="remove-white" ><span> Remove white</span></label>
            <br>
            <div id="remove-white-ranges">
                <label>Threshold: <input type="range" id="remove-white-threshold" value="60" min="0" max="255" ></label>
                <br>
                <label>Distance: <input type="range" id="remove-white-distance" value="10" min="0" max="255" ></label>
            </div>
        </p>
    </div>
<script>

            fabric.Object.prototype.transparentCorners = false;
            var $ = function (id) { return document.getElementById(id) };
            $('brightness-value').style.opacity = 0;
            $('remove-white-ranges').style.opacity = 0;
            $('noise-value').style.opacity = 0;

            function applyFilter(index, filter) {
                var obj = canvas.getActiveObject();
                obj.filters[index] = filter;
                obj.applyFilters(canvas.renderAll.bind(canvas));
            }

            function applyFilterValue(index, prop, value) {
                var obj = canvas.getActiveObject();
                if (obj.filters[index]) {
                    obj.filters[index][prop] = value;
                    obj.applyFilters(canvas.renderAll.bind(canvas));
                }
            }

            //fabric.Object.prototype.padding = 5;
            //fabric.Object.prototype.transparentCorners = false;   

            var canvas = new fabric.Canvas('c'), f = fabric.Image.filters;
            /*canvas.on({
                'object:selected': function () {
                    fabric.util.toArray(document.getElementsByTagName('input'))
                                        .forEach(function (el) { el. = false; })

                    var filters = ['grayscale', 'invert', 'remove-white', 'sepia', 'sepia2',
                                    'brightness', 'noise'];

                    for (var i = 0; i < filters.length; i++) {
                        $(filters[i]).checked = canvas.getActiveObject().filters[i];
                    }
                },
                'selection:cleared': function () {
                    fabric.util.toArray(document.getElementsByTagName('input'))
                                        .forEach(function (el) { el. = true; })
                }
            });*/

            var public_id = "<%= "http://res.cloudinary.com/task4testcloud/image/upload/v1468944275/" + @upload["public_id"].to_s + "." + @upload["image_content_type"][6..-1].to_s %>";
            fabric.Image.fromURL(public_id, function (img) {
                var oImg = img.set({ left: 50, top: 100 });
                canvas.add(oImg).renderAll();
                canvas.setActiveObject(oImg);

            }, { crossOrigin: "Anonymous" });

            /*$('btnSave').onclick = function () {
                canvas.item(0)['hasControls'] = false;
                canvas.item(0)['hasBorders'] = false;
                canvas.renderAll();
            };*/

            $('grayscale').onclick = function () {
                applyFilter(0, this.checked && new f.Grayscale());
            };
            $('invert').onclick = function () {
                applyFilter(1, this.checked && new f.Invert());
            };
            $('remove-white').onclick = function () {

                if (this.checked) {
                    $('remove-white-ranges').style.opacity = 1;
                }
                else {
                    $('remove-white-ranges').style.opacity = 0;
                }

                applyFilter(2, this.checked && new f.RemoveWhite({
                    threshold: $('remove-white-threshold').value,
                    distance: $('remove-white-distance').value
                }));
            };
            $('remove-white-threshold').onchange = function () {
                applyFilterValue(2, 'threshold', this.value);
            };
            $('remove-white-distance').onchange = function () {
                applyFilterValue(2, 'distance', this.value);
            };
            $('sepia').onclick = function () {
                applyFilter(3, this.checked && new f.Sepia());
            };
            $('sepia2').onclick = function () {
                applyFilter(4, this.checked && new f.Sepia2());
            };
            $('brightness').onclick = function () {
                if (this.checked) {
                    $('brightness-value').style.opacity = 1;
                }
                else {
                    $('brightness-value').style.opacity = 0;
                }
                applyFilter(5, this.checked && new f.Brightness({
                    brightness: parseInt($('brightness-value').value, 10)
                }));
            };
            $('brightness-value').onchange = function () {
                applyFilterValue(5, 'brightness', parseInt(this.value, 10));
            };
            $('noise').onclick = function () {

                if (this.checked) {
                    $('noise-value').style.opacity = 1;
                }
                else {
                    $('noise-value').style.opacity = 0;
                }

                applyFilter(6, this.checked && new f.Noise({
                    noise: parseInt($('noise-value').value, 10)
                }));
            };
            $('noise-value').onchange = function () {
                applyFilterValue(6, 'noise', parseInt(this.value, 10));
            };
</script>
<br>
<input class="btn btn-primary" type="button" id="btnSave" value="Save image" />
<%= link_to 'Cancel', user_path(current_user) %>

<script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                var form = $("#drawingForm");
                var image = document.getElementById("c").toDataURL("image/png");
                image = image.replace('data:image/png;base64,', '');
                $("#imageData").val(image);
                form.submit();
            });
        });
    </script>
